html{
  scroll-behavior: smooth;
}
.toplogo {
    margin-top: 5px;
    margin-bottom: 10px;
}
.toplogo img {
    height : 10%;
    width : 30%;
}
.carousel-inner img {
  width: 100%;
  height: 100%;
}
.logo{
  width: 100px;
  height: 75px;
}
.navbar {
  padding: .8rem;
}
.navbar-nav li {
  padding-right: 20px;
}
.nav-link {
  font-size: 1.1em !important
}
.two-column {
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.header{
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
.caption{
  text-align: center;
}
h1{
  text-align: center;
}
.display-5{
  padding: 15px;
}
.display-4{
  padding: 40px;
}
#teamPicture{
  float: left;
  padding-left: 55%;
}
#alignPicture{
  align-self: center;
}
.Author{
  text-align: center;
}

#googleForm {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#intro{
  padding-left: 3%
}
.newArticles{
  text-align: center;
}
.paragraph{
  padding: 2.5%;
}
.WC{
  padding: 1%;
  text-align: center;
}
.WC1{
  padding-left: 30px ;
  text-indent: -22px;
}
.col-lg-6-1{
  float: right;
}

#picture1{
  float: left;
  padding: 6px;
  margin-right: 10px
}
#picture2{
  float: right;
  padding: 6px;
  margin-left: 10px
}
#join{
  align-items: center;
}
.social a{
  font-size: 2.5em;
  padding: 1.2rem;
}
.fa-facebook{
  color: #3b5998;
}
.fa-twitter{
  color: #00aced;
}
.fa-instagram{
  color: #517fa8;
}
.fa-youtube{
  color: #bb0000;
}
.fa-linkedin{
  color: ##2867B2;
}
.fa-envelope{
  color: #bb0000;
}
.fa-facebook:hover,
.fa-twitter:hover,
.fa-google-plus-g:hover,
.fa-linkedin:hover,
.fa-envelope:hover,
.fa-instagram:hover,
.fa-youtube:hover {
  color: #d5d5d5;
}

#Connect{
  padding-bottom: 15px;
}

/* Ringgold */
figcaption{
  text-align: center;
}

.Ringgold2{
  align: center;
}

/* Join Us */
.bye{
  align: center;
}

/* Connect With Us Box */
/* #Updates{
  padding: 15px;
  color: #ffffff;
  background: #ffffff;
  margin: 0 auto;
}

#Updates input[type="email"]{
  padding: 4px;
  height: 38px;
  width: 250px;
}

.button_1{
  height: 38px;
  background: #f73d51;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
}

.email-box{
  padding: 15px;
} */



/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
