html{
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}
.toplogo {
    margin-top: 5px;
    margin-bottom: 10px;
}
.toplogo img {
    height : 10%;
    width : 30%;
}
.carousel-inner img {
  width: 100%;
  height: 100%;
}
.logo{
  width: 100px;
  height: 75px;
}
.navbar {
  padding: .8rem;
}
.navbar-nav li {
  padding-right: 20px;
}
.nav-link {
  font-size: 1.1em !important;
}
.two-column {
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.header{
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
.caption{
  text-align: center;
}
h1{
  text-align: center;
}
.display-5{
  padding: 15px;
}
.display-4{
  padding: 40px;
}
.display-3{
  font-size: 55px;
}
.img-fluid{
  padding: 5%;
}
#teamPicture{
  width: 375px;
  height: 450px;
  object-fit: cover;
}
#alignPicture{
  align-self: center;
}
.Author{
  text-align: center;
}

#googleForm {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#intro{
  padding-left: 3%
}
.newArticles{
  text-align: center;
}
.paragraph{
  padding: 2.5%;
}
.WC{
  padding: 1%;
  text-align: center;
}
.WC1{
  padding-left: 30px ;
  text-indent: -22px;
}
.col-lg-6{
  padding-left: 11.5em;
  padding-right: 5em;
}
.col-lg-6-1{
  float: right;
}

#picture1{
  float: left;
  padding: 6px;
  margin-right: 10px
}
#picture2{
  float: right;
  padding: 6px;
  margin-left: 10px
}
#join{
  align-items: center;
}
.social a{
  font-size: 2.5em;
  padding: 1.2rem;
}
.fa-facebook{
  color: #3b5998;
}
.fa-twitter{
  color: #00aced;
}
.fa-instagram{
  color: #517fa8;
}
.fa-youtube{
  color: #bb0000;
}
.fa-linkedin{
  color: #2867B2;
  color: #2867B2;
}
.fa-envelope{
  color: #bb0000;
}
.fa-facebook:hover,
.fa-twitter:hover,
.fa-google-plus-g:hover,
.fa-linkedin:hover,
.fa-envelope:hover,
.fa-instagram:hover,
.fa-youtube:hover {
  color: #d5d5d5;
}

#Connect{
  padding: 10px;
}

/* Ringgold */
figcaption{
  text-align: center;
}

.Ringgold2{
  align: center;
}

/* Join Us */
.bye{
  align: center;
}
/* Mail Chimp Box */
#mc_embed_signup{
  margin: auto;

}
#mc-embedded-subscribe-form{
  margin: auto;
  padding: 15px;
}

.email{
  padding: 10px;
  width: 245px;
}

input.button{
  height: 38px;
  background: #f73d51;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 13px;
  color: #ffffff;
}

.wrapper{
  display: flex;
  justify-content: space-evenly;
}

#mailingListTitle{
  font-family: "Helvetica Neue";
  font-size: 30px;
}

.mailchimpForm{
  margin-left: 150px;
}

.date{
  text-align: center;
}


#bio-resize{
  width: 300px;
  height: 386px;
  object-fit: cover;
}

.team-dropdown {
  float:left;
  overflow:hidden;
}

.team-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f8f9fa;
  /* min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1; */
}

.team-dropdown-content a {
  display: block;
  color: rgba(0,0,0,.5);
  padding: 12px 16px;
  text-decoration: none;
  text-align: left;
}

.team-dropdown-content a:hover {
  color: #212529;
}

.team-dropdown:hover .team-dropdown-content {
  display: block;
}

.subheader{
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: 1.0rem;
  margin-bottom: 1.0rem;
}

#subheader {
  font-size:35px;
}

a {
  color: #f73e52;
}

a:hover {
  color: #f73e52;
}

/* #open-positions {
  filter: blur(8px);
} */

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
